*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: black;
    height: 75px;
    color: white;
    display: flex;
    flex-direction: row;
    column-gap: 100px;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
}

.menu{
    display: flex;
    gap: 10px;
}

button{
    display: flex;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    border-color: white;
    cursor: pointer;
}