*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*O box-sizing com o valor border-box faz com que o navegador não calcule a dimensão de um elemento somando bordas e margens com altura e largura. Com content-box , ao definir width: 100px , o interior (conteúdo) do elemento terá 100px, mas por termos padding-left: 50px , o tamanho total do elemento será 150px.*/

    
}

.container{
    background-color: aquamarine;
    min-height: 100vh; /*viewport height*/
    }

    .item{
        width: 200px;
        height: 200px;border: 2px solid black;
        background-color: white;
        font-size: 20px;/*tamanho da fonte*/
        text-align: center;/*alinhamento do texto*/
        line-height: 200px;/*altura da linha*/
    }